[2018-03-30 20:25] wc18 opened #3 "A question: do you plan to update the data.json file with actual results, once the world cup is live?"

[2018-03-31 22:36] lsv commented on #3
Yep, I will do

[2018-04-01 10:08] wc18 commented on #3
Great! Let me know, if you need any help.

[2018-04-01 10:09] #3 closed

[2018-04-01 10:14] wc18 opened #4 "Question: format of the "home_result" / "away_result" field once games are finished"
how you intend to populate the home_result and away_result field in data.json after the match finishes. Can you add an example to the wiki?

Example:
{
          "name": 6,
          "type": "group",
          "home_team": 11,
          "away_team": 12,
          **"home_result": null,
          "away_result": null,**
          "date": "2018-06-16T19:00:00+03:00",
          "stadium": 9,

[2018-04-03 13:11] CityLifeCorp opened #5 "ability to fetch data"
Is there a way to fetch data by url?

Thx

[2018-04-03 21:44] wc18 commented on #5
have a look at the answer to this question:
https://github.com/lsv/fifa-worldcup-2018/issues/3
this is the file that will contain the data:
https://github.com/lsv/fifa-worldcup-2018/blob/master/data.json

[2018-04-04 03:43] lsv commented on #5
https://raw.githubusercontent.com/lsv/fifa-worldcup-2018/master/data.json

You can use this URL, which have around 5 min. cache time

[2018-04-04 03:44] lsv commented on #4
[code]

[2018-04-04 03:58] #5 closed

[2018-04-04 03:59] lsv commented on #4
I just updated the README to reflect a change for knockout matches penalty shootout.

[2018-04-04 03:59] #4 closed

[2018-04-13 11:53] fsalomon opened #6 "winner_X/runner_X needs logic?"
Hi,

as far as I understand, winner_X/runner_X is not explicitly stated in the json file. So, after all the matches in a group are finished, in order to determine the group's winner/runner, implementors must execute some logic, right? Not a soccer expert, but there must be some non-trivial edge cases, right?

Wouldn't it be elegant if the json file would somehow explicitly state the winner/runner

[2018-04-13 13:29] lsv commented on #6
Sure that could be added.

Though to display a group (like https://worldcup.aarhof.eu/#/) (when not all matches are done) you would still need to create the some logic to see the group standings in progress.

[2018-04-13 18:26] fsalomon commented on #6
Yeah, I was thinking about that, too. Unfinished group standings are not relevant to my use case, but one could easily extend the "result" key with a "finished" (bool) field. As long as it's false, winner/runner are provisional.

[2018-04-14 12:55] #6 closed

[2018-04-15 18:46] arkabide opened #8 "Adding new tvchannels"
I would like to contribute to this repo by posting spanish TV channels where the World Cup is going to be broadcasted. And I was thinking that maybe it would be interesting to enrich tvchannels data in order to specify the country in a more easily readable way (for parsing purpose), something like this:

 {
     "id": 3,
     "name": "Cuatro",
     "icon": "https://upload.wikimedia.org/wikipedia/c

[2018-04-15 19:33] gioalo commented on #8
Hey man, you think this is a good source to get the channels broadcasting the world cup https://en.wikipedia.org/wiki/2018_FIFA_World_Cup_broadcasting_rights
Thanks for sharing.

[2018-04-16 18:13] arkabide commented on #8
Interesting!

In the case of Spain, however, Mediaset is not a TV channel but a set of different companies in the business of media. So I would still prefer to know the TV channels where the WC is going to be broadcasted. Cuatro and Telecinco are part of Mediaset Spain and will broadcast the whole WC (all the 64 games). Games with Spain playing will be broadcasted by Telecinco (and probably the in

[2018-04-16 18:32] gioalo commented on #8
You are right. Thanks!

[2018-04-18 08:06] lsv commented on #8
@arkabide About the tv channel format, that is actually a good idea.

I would stick with the second one

[code]

Because I like having the iso2 format, so it can use the same format as the teams country code, so flags can be the same.

I will update my deploy test script.

[2018-04-18 19:01] arkabide commented on #8
Great. I just PR (#11) spanish TV channels with this format.

[2018-04-18 19:01] #8 closed

[2018-04-18 19:02] gioalo commented on #8
So if country has more than one language like US has, here we have two different channels broadcasting in English and Spanish   `iso2` has to change, Can you clarify please?
**EXAMPLE:**
[code]
then
[code]

[2018-04-19 06:37] arkabide commented on #8
_iso2_ refers to the country of the TV channel while _lang_ refers to the language of the emission.

_iso2_ allows the code to be used to obtain the translation of the country (from i18n files), for CSS stuff (for example to show the flag of a country, typically we have CSS classes like 'flag-us', 'flag-en', ...), and for standardization issues.

_country_ is added just to follow the same structur

[2018-04-19 07:04] gioalo commented on #8
Got it! Learned something new, thanks man!

[2018-04-19 10:39] lsv commented on #8
True `lang` should be an array
I know that US are using a lot of those red, blue, green buttons on the tv remote for something useful (I havent been in any country in europe, where those buttons are actually used)

But I know in US you can change spoken language with those buttons, so the same TV channel can have both english and spanish, with just a press of one of the color buttons on the remote

[2018-04-19 16:38] gioalo commented on #8
Yes. I'm not sure about the color coded buttons maybe I've seen it before in cable TV remote control, still you can always enable the audio in the settings or with a button if is available for the TV broadcast which is not always true for many TV programming. BTW this system is a standard SAP (second audio program) here in US, Canada and Mexico.  Thanks @lsv

[2018-04-19 16:48] lsv commented on #8
@arkabide should we change the `lang` code to an array?
(I will do it on already existing channels)

[2018-04-21 16:14] joelmarquez90 opened #12 "Wrong linked data or calculations for the last group"
The match of Germany - Costa Rica appears twice.

<img width="550" alt="screen shot 2018-04-21 at 13 12 21" src="https://user-images.githubusercontent.com/3428186/39086294-c1af6fbc-4565-11e8-8da5-f1bd3d1c2b06.png">

<img width="1208" alt="screen shot 2018-04-21 at 13 13 43" src="https://user-images.githubusercontent.com/3428186/39086300-daf0b6a2-4565-11e8-96c4-7f8a944d8640.png">

<img width="1208"

[2018-04-22 11:07] shaialon commented on #3
@lsv Want kind of delays can we expect after a game ends, until it is available in the data?
Is it done manually or programmatically?
Thanks for this cool resource :)

[2018-04-22 14:28] lsv commented on #12
Awesome! - thanks, and its now updated

[2018-04-22 14:28] #12 closed

[2018-04-22 14:31] lsv commented on #3
After the first match, I will have a source to get the results when the whistle have blown, (and maybe also live scores)

But the first match, will properly be within an hour or so, as I have to get make it manual, until I figure out how my source database looks like.

[2018-04-22 15:10] shaialon commented on #3
Thanks @lsv - looking forward

[2018-04-22 16:45] pablolleras opened #14 "knockout round teams"
I see you have fields in the non-group stages such as:

[code]

will these be updated to the team's number once we know who qualifies (aka are these placeholders) or are they going to remain as values like winner_g and the match number (such as 61 and 62 in the final game). trying to understand whether I should be calculating the correct team number myself by seeing who won group g or whether this

[2018-04-24 14:36] lsv commented on #14
Yes, they will be updated with the team ID when a group is fully finished

[2018-04-24 14:43] pablolleras commented on #14
awesome thanks! one other question, what are the `home_penalty` and `away_penalty` fields in some of the later games?

[2018-04-24 14:46] lsv commented on #14
A knockout match can end in penalty shootout, and these are the scores for the penalty shootout

[2018-04-24 14:48] pablolleras commented on #14
ah of course!

[2018-04-24 14:48] #14 closed

[2018-05-03 00:46] sd opened #17 "Could you include 3-letter country codes?"
These are used officially by FIFA

1: RUS
2: KSA
3: EGY
4: URU
5: POR
6: ESP
7: MAR
8: IRN
9: FRA
10: AUS
11: PER
12: DEN
13: ARG
14: ISL
15: CRO
16: NGA
17: BRA
18: SUI
19: CRC
20: SRB
21: GER
22: MEX
23: SWE
24: KOR
25: BEL
26: PAN
27: TUN
28: ENG
29: POL
30: SEN
31: COL
32: JPN

[2018-05-04 04:54] lsv commented on #17
Create a pull request with your changes, and I will gladly add it

[2018-05-09 11:44] lsv commented on #17
Added in #21

[2018-05-09 11:44] #17 closed

[2018-05-09 11:55] sd commented on #17
I was about to do this today... thanks for your work!

[2018-05-09 11:59] lsv commented on #17
Thanks to @splitfirex :)

[2018-05-11 13:52] Francescu opened #22 "Replace emoji name with actual emoji?"
👋

I was trying to use the `teams.emoji` field, but ended up directly filling up with emojis instead of names, it's a lot more easy to work with.

What do you think?

[code]

[2018-05-12 18:54] zamorag12 opened #23 "Live matches free api."
You could use for LiveScore. ;) http://livescore-api.com/worldcup/

[2018-05-13 09:13] kennethhaspeel opened #24 "South Korea -> Korea Republic"
On the Fifa web site the team is Korea Republic, not South Korea.

Not that it matters that much. I compare your json with my own database and found that small difference

[2018-05-14 13:48] Francescu commented on #22
@lsv I can provide a PR if you're ok with the modification

[2018-05-15 06:03] lsv commented on #24
Well, thats a hard one haha.
https://www.wikiwand.com/en/2018_FIFA_World_Cup#/Group_F
on [Google "live coverage"](https://www.google.dk/search?q=fifa+world+cup+2018&oq=fifa+world+cup+2018&aqs=chrome..69i57j69i60l2j0l3.5369j1j7&sourceid=chrome&ie=UTF-8#sie=lg;/m/06qjc4;2;/m/030q7;mt;fp;1) its also South Korea

[2018-05-15 06:04] lsv commented on #22
Could you add it as new code? - like emoijimg or something, the reason is Im using the code to slack and messenger, where it doesnt seem you can use the "real" emoji.

[2018-05-15 06:56] Francescu commented on #22
Sure, I can add a new attribute.

Still, it should work on Messenger and Slack. They both usually convert regular emojis to their own emoji system.

[2018-05-15 09:01] Tiennh95 commented on #23
Zamorag12, do you know any free API for World cup 2018 that provides live score? LiveScore API is free in only 15 days.

[2018-05-15 11:59] lsv commented on #22
Thanks @Francescu

[2018-05-15 11:59] #22 closed

[2018-05-15 12:58] Aldarom opened #26 "Squads"
Will you add the squads to the data/api?

[2018-05-15 13:13] lsv commented on #26
No, this is just for results

[2018-05-18 08:25] chenfengyuan opened #29 "Will team id be updated in the future?"
Hi, this project is awesome!
But I have a question: After some games finished, if we know winner_a is team x, will `"home_team": "winner_a"` be updated to `"home_team": x` ?

[2018-05-18 14:05] lsv commented on #29
Yes.

In knockouts, `home_team` and `away_team` will be updated when a team has been found for the match.

In groups: `winner` and `runnerup` will be added when a group is fully finished.

[2018-05-24 01:21] chikiadel opened #30 "Senegal flag png"
Thank you for this amazing api.
Flag of senegal is of type svg not png:
https://upload.wikimedia.org/wikipedia/commons/f/fd/Flag_of_Senegal.svg
can you change to png like the others?
https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Flag_of_Senegal.svg/900px-Flag_of_Senegal.svg.png

[2018-05-24 07:54] lsv commented on #30
Can you create a PR please :)

[2018-05-24 07:55] #26 closed

[2018-05-24 07:56] lsv commented on #24
I will keep South Korea, as it seems that this is the most used

[2018-05-24 07:56] #24 closed

[2018-05-24 08:02] kennethhaspeel commented on #24
No worries. Like i said. It doesn't matter that much. Just thought i should mention this. To do online searches i also use South Korea and Korea Republic as "display name"

[2018-05-24 08:10] kennethhaspeel commented on #23
football-data.org doesn't provide live scores. Or better said : not yet. I sent an email and there wil be a paid plan for match events. It should come online June 1st. But that's all. No more details in the mail.

[2018-05-24 12:52] chikiadel commented on #30
Done!

[2018-05-25 11:23] #30 closed, assigned to nobody

[2018-05-27 15:23] clemh78 opened #33 "Add the teams points on team properties ?"
It might be interesting to add the points on the teams?

https://fr.fifa.com/worldcup/groups/

[2018-05-27 16:09] clemh78 commented on #33
Finaly i found winner and runnerup property on group, it will allow me to do what I want.

[2018-05-27 16:09] #33 closed

[2018-05-28 23:39] mirsaeedi opened #34 "Date Timezone"
Would you please explain what's the timezone of the dates?

[2018-05-29 11:46] arkabide commented on #34
I think it's UTC.

[2018-05-30 09:01] Tiennh95 opened #35 "Match detail"
Will you provide match detail (like timeline and lineups) in the future?

[2018-05-31 12:40] lsv commented on #35
Nope, this is for result only.

I do not have the time, or the source to get those data, and also it will possible break the json format

[2018-05-31 12:45] lsv commented on #34
No, its ISO 8601 format - its widely used, and all parsers I have used, works perfect with this, so no need to change it at all.

https://www.wikiwand.com/en/ISO_8601

[2018-05-31 12:52] mirsaeedi commented on #34
Thanks, But my question was about the timezone. For example for the time "2018-06-15T17:00:00+05:00" I want to know what is "+05:00" offset.

[2018-05-31 13:13] mganss commented on #34
It's the offset from UTC as specified in ISO 8601. So times are local time but with the offset from UTC.

[2018-05-31 13:49] lsv commented on #34
If you were going to a match, you will VERY MUCH like to have the local time and not UTC, and then try to convert it to the local time, and you properly not even know which timezone you are in, if you landed a few days ago.

You only change your watch one time when you either enter the airplane, or just existing, and your brain can not remember how many hours you changed your watch.

Also if you f

[2018-05-31 13:50] #35 closed

[2018-05-31 13:50] #34 closed

[2018-06-01 13:50] Shajeel-Afzal commented on #23
@kennethhaspeel, the Live Score API is not published yet. Any update you got on that?

[2018-06-03 06:39] dial3x opened #37 "Group winner and runnerup fields"
Hi,
confirming that "winner" and "runnerup" be team id integers once the groups have been finalised as below?
The read me isn't clear on this point.
Thanks and great job!

  "groups": {
    "a": {
      "name": "Group A",
      "winner": 1,
      "runnerup": 3,
      "matches": [..]
}..

[2018-06-03 09:36] kennethhaspeel commented on #23
I have sent a few mails but no replies. It seems most api-providers aren't very quick to reply. Probably busy making their api to work
Although it lacks a couple of features i wanted to use, it hope this project is reliable

[2018-06-03 18:16] lsv commented on #37
winner and runnerup will be changed to team ID, when a group is fully finished

[2018-06-04 12:31] iamakidilam commented on #23
Noob here.
Anyway you could use google to fix this? On matchday, the first result card will be the match live score. Any way to scrap it from there?

[2018-06-06 04:49] #37 closed

[2018-06-06 09:53] jugon09 opened #39 "How the winner of a group match will be set?"
Hello,

In the readme you specify how the knockout match winner will be set, ('winner': 'away'), but will it be the same on group matches? Or will the winner be the id of the team?

Thanks in advance.

[2018-06-06 17:09] sergioandrescs commented on #39
Hi,

It seems there is no "winner" field in group matches. It would be really nice to have it.

Also, wouldn't it be easier to use the id of the team in the "winner" field of the matches? Otherwise, in order to know wich team won the match, it would be needed to search all the way back till the groups phase, intead of just a quick search inside the "teams" entry.

Thanks in andvance for your usefu

[2018-06-07 09:15] Arthi93 commented on #39
Hi,
thanks for good job with this project. I wonder the same as @jugon09

Since group phase doesnt really have one home and one away team - will it be just an id of the team?

[2018-06-07 10:43] jugon09 commented on #39
Hi,

Thanks for your quick response.

I didn't explain my question very well. I mean the field winner of the group object. For example,
"g": {
      "name": "Group G",
      "winner": null,
      "runnerup": null,
     ...
}

I want to know what value will be set in the winner and runnerup of each group. Will it be id of team?

Thanks for this project, it's amazing!

[2018-06-07 18:56] jonhue commented on #23
@iamakidilam It's definitely possible, but at least 1/2 hour of work!

[2018-06-07 19:51] sergioandrescs commented on #39
Hi,

looking through solved issues, I found this: #29. So, it seems home/away team and winner/runnerup field will be replaced by the if of the team. Hope it helps.

[2018-06-07 20:00] jonhue commented on #23
I just wrote a script that does exactly that, it's in ruby though.
For anyone who's interested: https://github.com/jonhue/tip-the-world-cup/blob/master/app/services/livescore.rb

For now, I'm just praying that Google does not update it's UI 🙏

[2018-06-07 20:07] lsv commented on #39
A group match does not always have a winner (a match can be equal)

The group winner and runner will be changed to team id's when a group is fully finished.

On knockout matches, there will always be a winner, therefor a winner field is added to these.

[2018-06-07 20:41] sergioandrescs commented on #39
Thanks a lot for this clarification. And for this very useful repo!

[2018-06-07 21:06] Shajeel-Afzal commented on #23
Can someone do this in Node.js?

[2018-06-08 05:08] Arthi93 commented on #39
Thank you for the response. Also thank for your amazing job!

[2018-06-08 05:34] Arthi93 opened #41 "Teams and winners final form"
Hi!

Thak you for the amazing job!

There are plenty of questons simmilar to this, but still I need to ask - just to be sure:

Group `winner `& `runnerup `will be set to team ID after match is done
Round of 16 `home_team `and `away_team `will be set to teams ID's after group stage is done

What about quaterfinals, semifinals, third-place playoff and final?
1. Are `home_team `and `away_team `gonna

[2018-06-08 11:27] jugon09 commented on #39
Thanks for the clarification. Can you update the readme when it says that the winner of a knockout match will be set with 'home' or 'away', please?

Thanks for your useful repo!

[2018-06-08 12:03] lsv commented on #39
I will make some json examples in the weekend

[2018-06-08 21:15] trsanti opened #42 "Add a "Last Updated" field"
It would be nice if the JSON included some sort of "Last Updated" field, or even a separate file/endpoint with that information.

[2018-06-12 08:45] MartinSoderholm opened #44 "incorrect matches.name?"
By what criteria is the `name` of matches assigned?

Why, for example, is Morocco vs Iran `name` `4` and Portugal vs Spain `name` `3` when Morocco plays at 18:00 and Portugal at 21:00?

[code]

[2018-06-12 12:03] mganss commented on #44
Isn't it the official FIFA game number?

[2018-06-12 12:12] MartinSoderholm commented on #44
[It seems so](https://resources.fifa.com/mm/document/tournament/competition/02/66/71/62/2018fwc_matchschedule_30052017_en_neutral.pdf). Thanks!

[2018-06-12 12:12] #44 closed

[2018-06-12 20:31] lsv commented on #42
https://github.com/lsv/fifa-worldcup-2018/commits/master

[2018-06-12 20:31] lsv commented on #42
I will most likely forget to change it anyways

[2018-06-12 20:33] lsv commented on #41
1: in ALL knockout matches, the hometeam and awayteam WILL be changed to the team ID when a team has been found for that spot.
2: Team id will be displayed in the winner field on knockout matches, and also the team id in the winner field on groups

[2018-06-13 17:57] sarahdayan commented on #23
@jonhue Thanks for the work! Unfortunately I think the Google interface uses randomized class names so there are chances the script won't work :|

Out of curiosity, how did you figure out where the scores would be in the HTML?

[2018-06-13 17:58] Shajeel-Afzal commented on #23
@sarahdayan it is already not working!

Through Inspect Element.

[2018-06-13 17:59] jonhue commented on #23
I don't think so. I believe I tested the script on 2-3 historic matches. And it worked for each of them.

[2018-06-13 18:02] jonhue commented on #23
@sarahdayan I think we shouldn't discuss this here though.

[2018-06-14 05:15] siloor opened #48 "Score after the first two half by knockout matches"
@lsv  At first thank you for this great repo! It is a genius idea to maintain a database like this on github!

I'm planning to use your db by a betting app. My only problem is, that usually by betting what really matters is the final score after the first two half. Of course this is a problem only by the knockout matches.

Could you please introduce two new property by the knockout matches, like '

[2018-06-14 06:18] sarahdayan commented on #23
@Shajeel-Afzal

Yeah I figured it was with web tooling but I wondered since the scores aren’t here yet. Didn’t think of the fact there are still documented older games.

Anyways, it’s normal it doesn’t work yet as there are no scores. Let’s wait for tonight’s game.

[2018-06-14 06:27] Shajeel-Afzal commented on #23
Thanks @jonhue!

[2018-06-14 09:37] shaialon commented on #48
@lsv also, is there a representation for the scores in a penalty shootout ?

[2018-06-14 10:04] lsv commented on #48
@siloor I understand your problem, but im sorry, I can not maintain this.
@shaialon

[code]

Yes, there are penalty shootout results on knockout matches.

[2018-06-14 10:15] shaialon commented on #48
Thanks!

[2018-06-14 10:44] siloor commented on #48
@lsv ok, no problem, thanks!

[2018-06-14 11:52] lkincel opened #49 "[Bug] Incorrect date for 2 matches (Japan - Senegal and Poland - Columbia)"
Hey @lsv,
In the beginning, I'm very grateful for your work and the repo. I've found the problem with two matches:
Japan - Senegal,
Poland - Columbia
It seems to the dates of both matches are swapped.

[2018-06-14 12:53] lsv commented on #49
@lkincel can you make a PR, that would be lovely :)

[2018-06-14 15:21] lkincel commented on #49
https://github.com/lsv/fifa-worldcup-2018/pull/50 Please :)

[2018-06-14 15:27] jonhue commented on #23
It works! :heart:

<img src="https://user-images.githubusercontent.com/13420273/41421892-0fcbe042-6ff8-11e8-8b40-caccf73e17a2.png" width="250px">

[2018-06-14 15:34] lsv commented on #49
Merged

[2018-06-14 15:34] #49 closed

[2018-06-14 15:34] #48 closed

[2018-06-14 15:35] lsv commented on #41
Updated readme... Thanks for the info :)

[2018-06-14 15:35] #41 closed

[2018-06-14 15:37] lsv commented on #39
I simply didnt have time - i could really use 2 more hours pr day... I will see if i can get it done this weekend

[2018-06-14 15:38] #42 closed

[2018-06-14 16:12] Francescu commented on #23
https://api.fifa.com/api/v1/calendar/matches?idseason=254645&idcompetition=17&language=en-GB&count=100

cf @federicoq in #52

[2018-06-14 16:15] Shajeel-Afzal commented on #23
Awesome! @jonhue can you please past the complete JSON that you are getting? Just want to get an idea about the information that is coming.

[2018-06-14 16:16] Shajeel-Afzal commented on #23
@Francescu it is awesome but too much data.

[2018-06-14 16:17] jonhue commented on #23
I don't get any JSON.

[2018-06-14 16:17] Shajeel-Afzal commented on #23
Okay, so you are directly saving it in the database. Cool.

[2018-06-14 17:38] kruug opened #54 "Wrong score for Group A Match 1"
Russia finished with 5 points total, yet you only have them marked as 2.

[2018-06-14 19:01] mickzer opened #55 "Request for loser field in knockout match objects"
Hey there,

Thanks a lot for this great data source!

I've got a request for the knockout matches objects, example:

[code]

It's nice that the winning team's id will be set as the ```winner``` field. However, if one wants to determine the loser, they need to recursively go back through other matches and group winners/runner ups in order to find who the losing team was.

I would propose adding a `

[2018-06-14 19:06] guilherme-eiras commented on #54
It was fixed. This issue can be closed.

[2018-06-15 02:16] Tiennh95 commented on #23
@jonhue how can I use your script in my android app?

[2018-06-15 05:10] jonhue commented on #23
@Tiennh95 There are various ways to do so. You could port the script to the programming language you use (I suppose Java). I'm sure it also has a library for web scraping. Or you could run this script periodically on your own server and let it make requests to your app (if it has a backend) or change some public JSON file like this one.

[2018-06-15 07:19] naigolf commented on #23
Hi @jonhue I am very interested in your script.
Can you tell me how to get it working?

[2018-06-15 07:21] jonhue commented on #23
@naigolf For that I have to know your intention. What are using the data for? Which programming language do you use?

[2018-06-15 08:11] Shajeel-Afzal commented on #23
@jonhue it is beneficial for others only if you can write a guide on how to use it.

[2018-06-15 08:15] jonhue commented on #23
@naigolf @Shajeel-Afzal I might push the live updates to a fork of this repo, so that you can get your data in raw JSON..

[2018-06-15 08:16] Shajeel-Afzal commented on #23
@jonhue the problem is with deployment! We don't know exactly which files are needed to be deployed from your project.

[2018-06-15 08:18] naigolf commented on #23
I can use api (url) request.

[2018-06-15 08:19] jonhue commented on #23
When I push the livescores to a readme you can just read the file from github.

[2018-06-15 08:20] Francescu commented on #23
@jonhue Yes, I think it's a good idea!

[2018-06-15 08:20] Shajeel-Afzal commented on #23
Okay that will be great as well! @jonhue please do that.

[2018-06-15 09:16] jonhue commented on #23
This data should be up to date starting with Saturday: https://github.com/jonhue/fifa-worldcup-2018

[2018-06-15 09:17] Francescu commented on #23
Thanks @jonhue 😊

[2018-06-15 09:33] naigolf commented on #23
Thanks @jonhue

[2018-06-15 09:36] naigolf commented on #23
@jonhue You have update Score Real time?

[2018-06-15 10:53] #54 closed

[2018-06-15 11:09] jonhue commented on #23
@naigolf Yes, in a 10 minute interval due to server limitations. But it's real time, yeah! 🥂

[2018-06-15 14:02] geosh2000 commented on #23
@kennethhaspeel 275073 is de Stage ID

![image](https://user-images.githubusercontent.com/31418457/41471998-c77c7346-707a-11e8-9a48-9c789bc6136a.png)

[2018-06-15 14:07] naigolf commented on #23
@jonhue Do you have a way to request a google gui, I think it updates very quickly.

[2018-06-15 14:08] Francescu commented on #23
@naigolf regarding his code, it's exactly what he is doing

[2018-06-15 14:08] Shajeel-Afzal commented on #23
@jonhue you can use http://cron-job.org/ to setup cron jobs.

[2018-06-15 15:58] shurik239 commented on #23
just a quick port to NodeJS idea from @jonhue
https://github.com/shurik239/score_parser

thanks @jonhue

[2018-06-15 16:05] christophfriedrich commented on #23
@kennethhaspeel Players on the pitch are available e.g. here: https://www.fifa.com/live/17/season/254645/match/300331526/_current11

@Francescu I initially used that `/calendar` endpoint too, but after EGY-URU today I realised that it gets updated very slowly - the final result was available there maybe 20min after the game was over. That's too long for me, so I'll switch to the `/live`endpoint Ke

[2018-06-15 17:15] naigolf commented on #23
@shurik239 Can you explain my work?
https://github.com/shurik239/score_parser

[2018-06-15 17:19] jonhue commented on #23
@shurik your solution won't work with penalties. The away score would then return something like `1(5 - 6)`. Apart from that a great port!

[2018-06-15 18:01] dzhioev commented on #39
@lsv Do you really think it’s a good idea to change format now (use IDs instead of “home” and “away”)? I mean some people (including myself) already expect data to be in old format described in README. If I didn’t stumble across this issue my program would have broke, as it expects “home” or “away” in the “winner” field.
Anyway, thanks for your work, it’s very helpful!

[2018-06-15 19:57] evolucja opened #57 "No difference between match halfs"
Especially we can not check the result after basic time of the game and after eventually added time of the game.

[2018-06-15 20:41] Arthi93 commented on #39
Well i have expected it this format as well so i have implemented it in my website. But since there is plenty of time before knockout matches - its possible to change it

[2018-06-15 22:24] tadeoos opened #58 "[bug] Incorrect match numbers?"
Hey,
first of all -- great job!
I've noticed that  Portugal vs Spain is tagged as match number 3 and Morocco vs Iran is number 4.
Shouldn't it be the other way around? They played earlier...

[2018-06-16 08:44] jonhue commented on #23
I did not found the time to work on pushing the data to GitHub yesterday. So the data is most likely to be updated automatically, starting with Sunday.

[2018-06-16 09:20] shurik239 commented on #23
@jonhue
gut point. I will fix it.
Thanks

[2018-06-16 11:21] lsv commented on #58
No, fifa game number has nothing to do with the play time.
The play time is due to TV, the more exposed matches will play at later times.

[2018-06-16 11:21] #58 closed

[2018-06-16 11:21] lsv commented on #57
No, its not part of this.

[2018-06-16 11:21] #57 closed

[2018-06-16 11:22] lsv commented on #55
There are only 1 game where the loser is actually needed. So I cant see why this should be part of it.

[2018-06-16 11:22] #55 closed

[2018-06-16 12:07] WMShustin opened #59 "Wrong match is finished"
Game with name 5 and with name 6 is reversed

[2018-06-16 12:18] shaialon opened #60 "CRITICAL: Wrong game closed"
You closed the Denmark Game instead of France!
https://github.com/lsv/fifa-worldcup-2018/commit/f9da6a5a62db581a5fbdbd5b81110d71643963fd

[2018-06-16 12:19] shaialon commented on #60
@lsv please check

[2018-06-16 12:52] Francescu commented on #60
Should be fixed by #61

[2018-06-16 13:00] Francescu commented on #59
Should be fixed in #61

[2018-06-16 13:20] #60 closed

[2018-06-16 14:37] estiens commented on #23
I am providing a live JSON API updated within every 30 seconds to 1 minute here:

https://github.com/estiens/world_cup_json

[2018-06-16 14:37] estiens opened #62 "You can grab data from my API automatically"
And pull it into whatever you need to do with it

https://github.com/estiens/world_cup_json

[2018-06-16 17:31] mickzer commented on #55
In the very least, I think this field should be on the semi finals matches. It would really help.

[2018-06-16 18:22] tadeoos opened #63 "[bug] Wrong date for next match (Croatia vs Nigeria)"
Hey, I think I found a typo

Is : `"date": "2018-06-16T21:00:00+02:00"`
Should be: `"date": "2018-06-16T21:00:00+03:00"`

[code]

[2018-06-16 18:39] shurik239 commented on #63
2018-06-16T21:00:00+02:00 is correct

Kaliningrad TZ == Berlin TZ == MESZ == UTC + 2

[2018-06-16 19:30] tadeoos commented on #63
Sorry, my bad :)

[2018-06-16 19:30] #63 closed

[2018-06-17 02:07] cesni opened #65 "Someone can help me"
I have a question, in this...

If a knockout match goes to penalty the result will be

"home_result": 1,
"away_result": 1,
"home_penalty": 5,
"away_penalty": 4,
"winner": <TEAM ID>,

If I wanna show the result of match in this case I need to add
home_result + home_penalty and
away_result + away_penalty

or maybe the whole result will be in "home_result" and "away_result"
that's correct?
Thanks in

[2018-06-17 18:34] cesni commented on #65
Ok Thanks for the information, you are doing a great work!!!

[2018-06-17 20:29] evolucja commented on #57
But why? Many implementations need more detailed data than just the final result... Match can lasts 90 minutes and can lasts 120 minutes and how can i know the result after first two halfs (after 90 minutes)?

[2018-06-18 12:37] #65 closed

[2018-06-19 08:44] dzhioev commented on #39
Will "home_team" and "away_team" in knockout matches be replaced to specific team ids when they became known?
If not, it will be pretty weird to see something like:
"home_team": 61,
"away_team": 62,
"winner": 12

[2018-06-19 08:45] tutchmedia opened #68 "KnockedOut flag on Team"
I'm using your API for our company sweepstake and it's working amazingly!

Would it be possible that when a team is knocked out entirely, we could get a Boolean added under the team to signal this?

Thanks

[2018-06-21 14:22] Alexia-AT-Digitecnology opened #69 "Poland and Colombia and Japan and Senegal playing"
Hi, these data are invalid:

[code]

Colombia and Poland plays at "2018-06-24T21:00:00+03:00" and Japan and Senegal plays at "2018-06-24T20:00:00+05:00". The hours are reverted. Please correct.

Sources: https://www.google.com/search?q=partidos+mundial+2018&ie=utf-8&oe=utf-8&client=firefox-b-ab#sie=lg;/m/06qjc4;2;/m/030q7;mt;fp;1

[2018-06-21 19:08] seonpy commented on #23
@estiens hello i m new in programming and python coding so plz tell which JSON api give me

[2018-06-21 19:51] estiens commented on #23
@seonpy right above you is a JSON API that updates every minute or so

try it at https://worldcup.sfg.io/matches/today

[2018-06-22 07:03] pravinjoshua opened #70 "Wrong header returned"
Hi,

Header ContentType is returned as text/plain , instead of application/json

Can you please fix this?

Regards,
Pravin.

[2018-06-22 07:53] #70 closed

[2018-06-22 10:17] lsv commented on #70
No, I dont own github cdn

[2018-06-23 22:08] JVecsei opened #71 "Wrong date for games at 2018-06-25"
Overlapping games on same channel for 2018-06-25T*

[2018-06-23 22:09] #71 closed

[2018-06-24 16:52] broeneatsdinner commented on #69
This issue is resolved over at [broeneatsdinner/fifa-worldcup-JSON](https://github.com/broeneatsdinner/fifa-worldcup-JSON), if you need it before it can be addressed here.

[2018-06-25 00:20] broeneatsdinner commented on #68
@tutchmedia If you're using the JSON data for your app, a similar set is available at [broeneatsdinner/fifa-worldcup-JSON](https://github.com/broeneatsdinner/fifa-worldcup-JSON). In the "teams" portion of the JSON, there's a boolean called "eliminated", followed by a string indicating at which stage the team was eliminated (e.g. "group" or "round_16" or "round_8", etc.)

[2018-06-25 14:35] Shinkagi opened #72 "Score errors bewteen match 33 and 34"
Saudi arabia - Egypt and Uruguay - Russia  scores are swapped

[2018-06-25 14:38] adolfoguimaraes opened #73 "Update Match"
Match 33 from group A has the score from Match 34 from group A. I think the information is exchanged with each other.

Now, Uruguay 2 x 0 Russia and Saudi Arabia 0 x 1 Egypt but in Json has:

Uruguay 0 x 1 Russia and Saudi Arabia 2 x 0 Egypt

[2018-06-25 14:39] lsv commented on #72
Yep - The live feed I use sadly cant handle multiple matches :/

[2018-06-25 14:42] lsv commented on #73
fixed

[2018-06-25 14:42] #73 closed

[2018-06-25 14:43] lsv commented on #72
fixed

[2018-06-25 14:43] #72 closed

[2018-06-25 14:47] lsv commented on #69
just add a PR
Though, the times were correct
Match 31 - was played at 20:00 CEST and match 32 was played at 17:00 CEST (watched them myself)

[2018-06-25 14:47] #69 closed

[2018-06-25 15:07] Software202 opened #75 "Late Match Update"
Hey guy @lsv , really great api for we developers, but will be more better if update could be a bit more earlier maybe 2 mins. Built a fantastic browser extension with the api, you can check out >>https://github.com/Software202/World-Cup-Live-2018

Thanks in advance to make this browser extension work better by improving the update time.

[2018-06-25 15:14] lsv commented on #75
Today, the live score was a mess today due to my live score source was a mess with multiple matches.

I just changed to another live score source, maybe it will be better :)

[2018-06-25 15:14] #75 closed

[2018-06-25 18:23] naigolf commented on #23
@estiens  Your score is not real.
![image](https://user-images.githubusercontent.com/20389211/41868166-6f574f7a-78df-11e8-9fbc-9ae59ea4cb44.png)

[2018-06-25 20:26] adolfoguimaraes opened #77 "Round 16"
Matches are:

Uruguay x Portugal
Spain x Russia

the json has:

Uruguay x Spain
Portugal x Russia

[2018-06-25 20:38] trsanti commented on #77
Looks like there's already a Pull request to resolve this.

[2018-06-25 20:44] lsv commented on #77
fixed in #76

[2018-06-25 20:44] #77 closed

[2018-06-25 20:49] pablolleras opened #78 "Group B winner is incorrect"
Spain won group B, Portugal came second. The API is currently returning them as:
winner: Portugal
runnerup: spain

Similarly, the round of 16 matches are now backwards because of this. Please fix!

[2018-06-25 20:56] trsanti opened #79 "The Kickoff Time for Match 49 and Match 50 are switched."
Match 49 should read:
`"date": "2018-06-30T21:00:00+03:00"`
(2PM EST / 18:00 UTC)

Match 50 should read:
`"date": "2018-06-30T17:00:00+03:00"`
(10AM EST / 14:00 UTC)

These are currently switched. Could be other date issues too but these are the only two I caught initially.

[2018-06-25 21:04] trsanti commented on #78
Duplicate (closed, resolved) issue: https://github.com/lsv/fifa-worldcup-2018/issues/77

[2018-06-25 21:21] #78 closed

[2018-06-25 21:33] lsv commented on #79
fixed in #80 thanks @trsanti

[2018-06-25 21:33] #79 closed

[2018-06-25 21:57] SkullCarverCoder opened #81 "Problem on the winners of groups !"
Group winners are actually the first two in the table not the first  , they will be part of the 16 teams that will go against each other to then become 8 and so on until the last two (the final).

[2018-06-26 13:52] alexcroox commented on #23
@Francescu is that Fifa API documented anywhere?

[2018-06-26 16:23] Francescu commented on #81
the `winner` is the first, but you can find the second in the `runnerup` field

[2018-06-26 16:23] #81 closed

[2018-06-26 23:05] estiens commented on #23
@naigolf - API briefly had trouble with simultaneous matches but has mostly been running along in real time without a hitch

[2018-06-27 09:15] Francescu commented on #39
Placeholders have been replaced for the `round_16` field, cf: [data.json#L1667](https://github.com/lsv/fifa-worldcup-2018/blob/master/data.json#L1667
)
I guess it will be replaced for all other rounds too.

@lsv may confirm.

[2018-06-27 09:17] lsv commented on #39
1: in ALL knockout matches, the hometeam and awayteam WILL be changed to the team ID when a team has been found for that spot.
2: Team id will be displayed in the winner field on knockout matches, and also the team id in the winner field on groups

[2018-06-27 09:19] #39 closed

[2018-06-28 10:35] shaialon opened #84 "Broken scoring issues"
Hi @lsv .
Issues like the one caused in https://github.com/lsv/fifa-worldcup-2018/commit/1601d1d95f87819618edaf0d9c475acf35c46c49 and fixed in https://github.com/lsv/fifa-worldcup-2018/pull/83 are causing **huge side effects for our application** that picks up the results and applies irreversible logic like sending automated pushes to users with these scores.

I suggest:
1. These updates be made t

[2018-06-28 10:42] lsv commented on #84
Sorry that my live score API provider didnt had the results updated correctly

[2018-06-28 12:51] shaialon commented on #84
@lsv I did not understand what you mean. What do you think about my suggestions?

[2018-06-28 12:53] lsv commented on #84
@shaialon sure I can do it - but then there will be another delay
And I do not think that someone wanna check 30 commits pr day - within a 4 hour timeframe

[2018-06-28 12:57] shaialon commented on #84
True. Maybe just for the "finished" games then ?

[2018-06-28 12:57] shaialon commented on #84
Then it would be 1-4 per day.

[2018-06-28 12:59] lsv commented on #84
Thats true - I could do that - though I would need more contributors because I will not be able to merge them.

But sure I can easily create PR's when a game will have the end PR

[2018-06-28 13:00] shaialon commented on #84
Great. So can you please add me (to have merge permissions)?

[2018-06-28 13:03] lsv commented on #84
done
Im not sure I can get it fixed for todays first matches, but hopefully for the "exiting" England-Belgium match

[2018-06-28 16:02] lsv commented on #84
Any ideas on how to automatic make a PR from a new branch ?

[2018-06-29 05:21] broeneatsdinner commented on #84
We could create a bash script that diffs [lsv/data.json](https://raw.githubusercontent.com/lsv/fifa-worldcup-2018/master/data.json) with [broeneatsdinner/data/world-cup-2018.json](https://raw.githubusercontent.com/broeneatsdinner/fifa-worldcup-JSON/master/data/world-cup-2018.json) whenever a match's "finished == true", to create a pull request.

The broeneatsdinner repository doesn't rely on an ex

[2018-06-29 05:34] broeneatsdinner commented on #23
You should check out [broeneatsdinner/data/world-cup-2018.json](https://raw.githubusercontent.com/broeneatsdinner/fifa-worldcup-JSON/master/data/world-cup-2018.json) and see if it works for you. Similar data structure to estiens' and lsv's JSON data and updated every 5 minutes during live matches. No issues reported (yet) with multiple games going on at the same time as it starts different threads

[2018-06-29 12:32] lsv commented on #84
Doesnt matter - you can still not create a PR from command line, though I dont know how anyway

[2018-06-30 20:03] dzhioev opened #88 "Missing "winner" for finished match"
That is what I'm getting for URU - POR game right now:

[code]

[2018-07-02 08:19] #84 closed

[2018-07-03 15:03] #88 closed

[2018-07-06 18:09] dzhioev opened #98 ""winner" is not updated in time"
I noticed several times that after the end of a game API returns correct score, "finished" flag is set, but "winner" is null. Here is an example:
[code]
It was requested in 2 hours after the match France - Uruguay has ended.

[2018-07-06 19:15] lsv commented on #98
Thats becuase I actually update it manual :)

[2018-07-06 19:15] #98 closed

[2018-07-10 16:36] joshnorthcott commented on #23
Does anyone know where I can find an API that has FIFA publishing rights? An app we have recently developed is being rejected from Appstore as the API we use doesn't have the rights to publich scores, info etc. We need one that does so we can publish, or an alternative, any thoughts?

[2018-09-07 20:43] #23 closed

[2018-09-07 20:43] #68 closed